

@using PustokMVC.Models

@model List<Author>
@{
    var count = 0;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="d-flex align-items-center justify-content-between ">
                <h1 >Authors</h1>  
                <a class="btn btn-success " asp-action="create" > Create</a>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">BookCount</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.FullName</td>
                            <td>@item.Books.Count</td>
                            <td>   
                                <a asp-action="edit" asp-controller="author" asp-route-id="@item.Id" class="btn btn-warning">Edit </a>
                                <a class="btn btn-danger">Delete</a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
